{% load static %}
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top header-nav navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand " href="{% url 'index' %}">
                <img src="{% static 'dogpaw.png' %}" alt="" width="60" height="60" class="d-inline-block align-text-top">
                Pet Shop
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" aria-current="page" href="{% url 'index' %}">Página inicial</a>
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="{% url 'produtos' %}">Produtos</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="{% url 'meus_pets' %}">Meus pets</a>
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="{% url 'servicos' %}">Serviços</a>
                    </li>
                    {% endif %}
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="{% url 'perguntas_frequentes' %}">Perguntas frequentes</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <div class="header-btn">
                    <ul class="navbar-nav m-auto">
                      <li class="nav-item">
                        <a href="{% url 'carrinho' %}" type="button" class="btn ms-2"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
                      </li> 
                      <li class="nav-item dropdown">
                        <button type="button" class="btn ms-2" id="navbrDropdown" role="button" data-bs-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fa-regular fa-bell fa-2x">
                            <div class="dropdown-toggle" id="customDropdown"></div>
                          </i>
                        </button>
                        <ul class="dropdown-menu p-3 dropdown-menu-end" aria-labelledby="navbarDropdown" id="notifMenu">
                        {% for solicitacao in solicitacoes %}
                          <li><a id="notifInfo" href="{% url 'index' %}">{{ solicitacao.servico.servico }} - {{ solicitacao.animal.nome }}, status: {{ solicitacao.status }}</a></li>
                          <div class="dropdown-divider"></div>
                        {% endfor %}
                        </ul>
                        <!--<i class="fa-solid fa-bell"></i>-->
                      </li>
                      <li class="nav-item dropdown">
                        <button type="button" class="btn ms-2" id="navbrDropdown" role="button" data-bs-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fa-solid fa-user fa-2x">
                            <div class="dropdown-toggle" id="customDropdown""></div>
                            </i>
                          </button>
                          <ul class=" dropdown-menu p-3 dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" id="userInfo" href="{% url 'meus_dados' %}">Meus dados</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" id="userInfo" href="{% url 'logout' %}">Sair</a></li>
                      {% if user.is_staff %}
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" id="userInfo" href="/admin">Área restrita</a></li>
                      {% endif %}
                    </ul>
                    </li>
                    </ul>
                  </div>
                  {% else %}
                  <div class="header-btn">
                    <ul class="navbar-nav m-auto">
                      <a type="button" class="btn ms-3 btn-light100" href="{% url 'cadastro' %}">Cadastrar-se</a>
                      <a type="button" class="btn ms-3 btn-medium100" href="{% url 'login' %}">Entrar</a>
                    </ul>
                  </div>
                  {% endif %}
            </div>
        </div>
    </nav>
</header>
