<div class="row pb-2">
    <div class="col-2"></div>
    <div class="col">
      <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <a href="#">
                    <img
                    src="{{ item.foto.url }}"
                    class="img-fluid card-img rounded-3" style="width: 65px;">
                  </a> 
                </div>
                <div class="ms-3">
                  <h5>{{ item.produto.produto }}</h5>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <div style="width: 50px;">
                  <h5 class="fw-normal mb-0">{{ item.quantidade }}</h5>
                </div>
                <div style="width: 120px;">
                  <h5 class="mb-0">{{ item.valor_unit }}</h5>
                </div>
                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt iconHover"></i></a>
              </div>
            </div>
          </div>
        </div>              
    </div>
  <div class="col-2"></div>
</div>
