<div class="row pb-2">
    <div class="col-2"></div>
    <div class="col">
      <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <img
                    src="{{ solicitacao.servico.foto.url }}"
                    class="img-fluid rounded-3" style="width: 65px;">
                </div>
                <div class="ms-3">
                  <h5>{{ solicitacao.animal.nome }}</h5>
                  <p class="small mb-0">{{ solicitacao.servico.servico }}</p>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <div style="width: 160px;">
                  <h5 class="mb-0">
                  {% if solicitacao.status == 'A' %}
                    Serviço ainda não iniciado
                  {% elif solicitacao.status == 'B' %}
                    Serviço em andamento no pet shop
                  {% elif solicitacao.status == 'C' %}
                    Serviço finalizado
                  {% elif solicitacao.status == 'D' %}
                    Pet liberado para busca no pet shop
                  {% endif %}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>              
    </div>
  <div class="col-2"></div>
</div>