<div class="row pb-2">
    <div class="col-2"></div>
    <div class="col">
      <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <img
                    src="dogpaw.png"
                    class="img-fluid rounded-3" style="width: 65px;">
                </div>
                <div class="ms-3">
                  <h5>Serviço</h5>
                  <p class="small mb-0">Descrição</p>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <div style="width: 160px;">
                  <h5 class="mb-0">Status serviço</h5>
                </div>
              </div>
            </div>
          </div>
        </div>              
    </div>
  <div class="col-2"></div>
</div>