{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
  <main>
    <div>
      <!--inicio container-->
      <div class="container-fluid">
        <div class="container">
          <div class="row pt-5">
            <div class="col-3"></div>
            <div class="col">
              <h1>Adicionar pet</h1>
            </div>
            <div class="col-3"></div>
          </div>
          <form action = "{% url 'adicionar_pet' %}" method="post" enctype='mulipart/form-data'>
            {% csrf_token %}
            {% for erro in erros %}
            <p>{{ erro }}</p>
            {% endfor %}
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="email" class="form-control" placeholder="Nome" aria-label="Nome" name="nome">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Espécie" aria-label="Espécie" name="especie">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Raça</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Cor" aria-label="Cor" name="cor">
            </div>
            <div class="col">
                <input type="text" class="form-control datePlaceholder" placeholder="Data de aniversário" onfocus="(this.type='date')" aria-label="Aniversário" name="aniversario">
              </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-3">
            <div class="col-3"></div>
            <div class="col">
              <label for="fotoPet" class="pb-1 ps-1">Escolha uma foto para seu pet</label>
              <input type="file" class="form-control" placeholder="Foto" id="fotoPet">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-5">
            <div class="col-7"></div>
            <button type="submit" class="btn col btn-main">Adicionar</button>
            <div class="col-3"></div>
          </div>
        </form>
        </div>
        <!--quarta linha-->
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
