{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
  <main>
    <div>
      <!--inicio container-->
      <div class="container-fluid">
        <div class="container">
          <div class="row pt-5">
            <div class="col-3"></div>
            <div class="col">
              <h1>Cadastro</h1>
            </div>
            <div class="col-3"></div>
          </div>
          <form action = "{% url 'cadastro' %}" method="post">
          {% csrf_token %}
          {% for erro in erros %}
          <p>{% include 'partials/warning.html' %}</p>
          {% endfor %}
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" name="nome">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Sobrenome" name="sobrenome">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail" name="email">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" id="cpf" placeholder="CPF" aria-label="CPF" name="cpf" data-mask="000.000.000-00">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" id="telefone" placeholder="Telefone" aria-label="Telefone" name="telefone" data-mask="(00)00000-0000">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Senha" aria-label="Senha" name="senha">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Confirmar senha" aria-label="Confirmar senha" name="senha2">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-5">
            <div class="col-7"></div>
            <button type="submit" class="btn col btn-main">Confirmar</button>
            <div class="col-3"></div>
          </div>
        </form>
        </div>
        <!--quarta linha-->
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
