{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
  <main>
    <div>
      <!--inicio container-->
      <div class="container-fluid">
        <!--primeira linha-->
        <div class="row py-5">
        <div class="col-6 ps-5 pt-4">
            <div class="container">
                <div class="row">
                    <div class="col"><h1>{{ produto.produto }}</h1></div>
                </div>
                <div class="row">
                    <h4 class="col">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Blanditiis nihil reprehenderit dolores repudiandae culpa officia inventore asperiores obcaecati,
                        architecto aliquam illum voluptate odit, tenetur dolorem deleniti aperiam
                        sit, maiores provident.</h4>
                </div>
                <div class="row" style="padding-top: 250px;">
                    <div class="row">
                        <div class="col">
                            <hr class="mt-4">
                        </div>
                      </div>
                      <div class="row pt-1">
                        <div class="col">
                            <h3>Total</h3>
                        </div>
                        <div class="col-2">
                            <h3>R${{ produto.preco }}/h3>
                        </div>
                      </div> 
                      <div class="row p-4">
                          <div class="col-9" style="height: 25px;"></div>
                          <a type="button" class="btn col btn-main py-3" href="finalizarCompra.html">Mandar para o carrinho</a>
                      </div>  
                </div>
            </div>
        </div>
          <div id="carouselPerguntasFrequentes" class="carousel carouselCustom slide col-md-7 px-4 pt-4" data-bs-ride="carousel">
            <div class="carousel-inner carousel-overlay">
              <div class="carousel-item active">
                <img src="{% static 'dog1.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <!--
                <div class="carousel-item">
                <img src="{% static 'dog2.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'cat1.jpg' %}" class="d-block w-100" alt="...">
              </div>
              -->  
            </div>
          </div>
        </div>
        <div class="row ps-5">
            <div class="col">
                <h3>Categorias</h3>
            </div>
        </div>
        <div class="row ps-5">
            <div class="col">
                <a href="#" class="category">Categoria1</a>
                <a href="#" class="category">Categoria2</a>
                <a href="#" class="category">Categoria3</a>
            </div>
        </div>
        <!--quarta linha-->
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
