{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
  <main>
    <div>
      <!--inicio container-->
      <div class="container-fluid">
        <div class="container">
          <div class="row pt-5">
            <div class="col-3"></div>
            <div class="col">
              <h1>Editar pet</h1>
            </div>
            <div class="col-3"></div>
          </div>
          <form action = "{% url 'editar_pet' id=pet.id %}" method="post">
            {% csrf_token %}
            {% for erro in erros %}
            <p>{{ erro }}</p>
            {% endfor %}
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" name="nome" value={{ pet.nome }}>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Espécie" aria-label="Espécie" name="especie" value={{ pet.especie }}>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Raça" aria-label="Raça" name="raca" value={{ pet.raca }}>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Cor" aria-label="Cor" name="cor" value={{ pet.cor }}>
            </div>
            <div class="col">
              <input type="text" class="form-control datePlaceholder" placeholder="Data de aniversário" onfocus="(this.type='date')" aria-label="Aniversário" name="aniversario"  value={{ pet.aniversario }}>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="image" class="form-control" placeholder="Imagem" aria-label="imagem" name="imagem" value={{ pet.raca }}>
            </div>
            <div class="col-3"></div>
          </div>                  
          </form>
        </div>
        <!--quarta linha-->
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
