{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
  <main>
    <div>
      <!--inicio container-->
      <div class="container-fluid">
        <div class="container">
          <div class="row pt-5">
            <div class="col-3"></div>
            <div class="col">
              <h1>Editar pet</h1>
            </div>
            <div class="col-3"></div>
          </div>
          <form action="{% url 'editar_pet' id=contexto.pet.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for erro in erros %}
            <p>{{ erro }}</p>
            {% endfor %}
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" name="nome" value="{{ contexto.pet.nome }}">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
                <select class="form-select" aria-label="Default select example" name="especie">
                  <option value="{{ contexto.pet.raca.id }}">{{ contexto.pet.especie.especie }}</option> 
                  {% for especie in contexto.especies %}
                  {% if contexto.pet.especie.id != especie.id %}
                  <option value="{{ especie.id }}">{{ especie.especie }}</option>
                  {% endif %} 
                  {% endfor %}
                </select>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
                <select class="form-select" aria-label="Default select example" name="raca">
                  <option value="{{ contexto.pet.raca.id }}">{{ contexto.pet.raca.raca }}</option> 
                  {% for raca in contexto.racas %}
                  {% if contexto.pet.raca.id != raca.id %}
                  <option value="{{ raca.id }}">{{ raca.raca }}</option>
                  {% endif %} 
                  {% endfor %}
                </select>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Cor" aria-label="Cor" name="cor" value="{{ contexto.pet.cor }}">
            </div>
            <div class="col">
              <input type="date" value="{{contexto.pet.aniversario|date:'Y-m-d' }}" class="form-control datePlaceholder" placeholder="Aniversário" aria-label="Aniversário" name="aniversario">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-3">
            <div class="col-3"></div>
            <div class="col">
              <label for="fotoPet" class="pb-1 ps-1">Alterar foto do pet</label>
              <input name="foto" type="file" class="form-control" placeholder="Foto" id="fotoPet">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-5">
            <div class="col-7"></div>
            <button type="submit" class="btn col btn-main">Editar</button>
            <div class="col-3"></div>                                              
          </div>                                              
          </form>
        </div>
        <!--quarta linha-->
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
