<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/3a31f4d8e1.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top header-nav navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand " href="indexUser.html">
                    <img src="dogpaw.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
                    Pet Shop
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item ms-lg-5">
                            <a class="nav-link" aria-current="page" href="indexUser.html">Página inicial</a>
                        </li>
                        <li class="nav-item ms-lg-5">
                            <a class="nav-link" href="produtos.html">Produtos</a>
                        </li>
                        </li>
                        <li class="nav-item ms-lg-5">
                            <a class="nav-link" href="seusPets.html">Meus pets</a>
                        </li>
                        <li class="nav-item ms-lg-5">
                            <a class="nav-link" href="#">Serviços</a>
                        </li>
                        <li class="nav-item ms-lg-5">
                            <a class="nav-link" href="#">Perguntas frequentes</a>
                        </li>
                    </ul>
                    <div class="header-btn">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <button type="button" class="btn ms-2"><i
                                        class="fa-solid fa-cart-shopping fa-2x"></i></button>
                            </li>
                            <li class="nav-item dropdown">
                                <button type="button" class="btn ms-2" id="navbrDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-regular fa-bell fa-2x">
                                        <div class="dropdown-toggle" id="customDropdown"></div>
                                    </i>
                                </button>
                                <ul class="dropdown-menu p-3 dropdown-menu-end" aria-labelledby="navbarDropdown"
                                    id="notifMenu">
                                    <li><a id="notifInfo" href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a id="notifInfo" href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                                </ul>
                                <!--<i class="fa-solid fa-bell"></i>-->
                            </li>
                            <li class="nav-item dropdown">
                                <button type="button" class="btn ms-2" id="navbrDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-user fa-2x">
                                        <div class="dropdown-toggle" id="customDropdown""></div>
                      </i>
                    </button>
                    <ul class=" dropdown-menu p-3 dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" id="userInfo" href="#">Meus dados</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" id="userInfo" href="index.html">Sair</a></li>
                        </ul>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
  <main>
    <div>
      <!--inicio container-->
      <div class="container-fluid">
        <div class="container">
          <div class="row pt-5">
            <div class="col-3"></div>
            <div class="col">
              <h1>Finalizar compra</h1>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-3">
            <div class="col-3"></div>
            <div class="col">
                <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input customCheck" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label customLabelRadio" for="gridRadios1">
                        Receber em casa
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input customCheck" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label customLabelRadio" for="gridRadios2">
                        Retirar na loja
                      </label>
                    </div>
                  </div>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Forma de pagamento</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-4">
            <div class="col-3"></div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Endereço</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-2">
            <div class="col-3"></div>
            <div class="col">
                <hr class="mt-4">
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row pt-1">
            <div class="col-3"></div>
            <div class="col">
                <h3>Total</h3>
            </div>
            <div class="col-2 me-4">
                <h3>R$90,00</h3>
            </div>
            <div class="col-2"></div>
          </div> 
          <div class="row pt-3">
            <div class="col-7"></div>
            <a type="button" class="btn col btn-main" href="#">Confirmar</a>
            <div class="col-3"></div>
          </div>         
        </div>
        <!--quarta linha-->
        <div class="row mt-5">
          <footer class="text-center text-lg-start">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
              <div>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </section>
            <section class="">
              <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem me-3"></i>Pet Shop
                    </h6>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, non.
                    </p>
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                      Produtos
                    </h6>
                    <p>
                      <a href="#!" class="text-reset">Rações</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Brinquedos</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Conforto</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Utilidades</a>
                    </p>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                      Links uteis
                    </h6>
                    <p>
                      <a href="#!" class="text-reset">Produtos</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Perguntas frequentes</a>
                    </p>
                  </div>
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                      Contato
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Erechim, Rua Getulio Vargas, N° 206</p>
                    <p>
                      <i class="fas fa-envelope me-3"></i>
                      info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 54 93124-5432</p>
                    <p><i class="fas fa-print me-3"></i> 54 93124-5432</p>
                  </div>
                </div>
              </div>
            </section>
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2022 Copyright:
              <a class="text-reset fw-bold" href="...">PetShop.com</a>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </main>
{% endblock %}