{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
    <main>
        <div>
            <!--inicio container-->
            <div class="container-fluid">
                <!--segunda linha-->
                <div class="row mt-5">
                    <div class="col ps-5">
                        <div>
                            <h1>Seus pets</h1>
                        </div>
                    </div>
                </div>
                <!--terceira linha-->
                <div class="row">
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-4 px-5">
                        <!--primeira carta-->
                        <div class="col">
                            <a href="editarPet.html" class="customCard">
                                <div class="card h-100">
                                    <img src="dogpaw.png" class="card-img-top card-img" alt="...">
                                    <div class="overlay"></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to
                                            additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--segunda carta-->
                        <div class="col">
                            <a href="editarPet.html" class="customCard">
                                <div class="card h-100">
                                    <img src="dogpaw.png" class="card-img-top card-img" alt="...">
                                    <div class="overlay"></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to
                                            additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--terceira carta-->
                        <div class="col">
                            <a href="adicionarPet.html" class="customCard">
                                <div class="card h-100 bg-dark">
                                    <div class="overlay"></div>
                                    <div class="container" style="height: 100%;">
                                        <div class="row">
                                            <div class="col customIcon  d-flex justify-content-center">
                                                <i class="fa-solid fa-plus fa-4x"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--quarta linha-->
                {% include 'partials/footer.html' %}
            </div>
        </div>
    </main>
{% endblock %}
