{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
    <main>
        <div>
            <!--inicio container-->
            <div class="container-fluid">
                <!--segunda linha-->
                <div class="row mt-5">
                    <div class="col ps-5">
                        <div>
                            <h1>Seus pets</h1>
                        </div>
                    </div>
                </div>
                <!--terceira linha-->
                <div class="row">
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-4 px-5">
                        <!--primeira carta-->
                        <div class="col">
                            <a href="editarPet.html" class="customCard">
                                <div class="card h-100">
                                    <img src="dogpaw.png" class="card-img-top card-img" alt="...">
                                    <div class="overlay"></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to
                                            additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--segunda carta-->
                        <div class="col">
                            <a href="editarPet.html" class="customCard">
                                <div class="card h-100">
                                    <img src="dogpaw.png" class="card-img-top card-img" alt="...">
                                    <div class="overlay"></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to
                                            additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--terceira carta-->
                        <div class="col">
                            <a href="adicionarPet.html" class="customCard">
                                <div class="card h-100 bg-dark">
                                    <div class="overlay"></div>
                                    <div class="row"></div>
                                    <div class="container">
                                        <div class="row"></div>
                                        <div class="row  justify-content-center align-items-center">
                                            <div class="col-3 customIcon">
                                                <i class="fa-solid fa-plus fa-4x"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--quarta linha-->
                <div class="row mt-5">
                    <footer class="text-center text-lg-start">
                        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                            <div>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </section>
                        <section class="">
                            <div class="container text-center text-md-start mt-5">
                                <div class="row mt-3">
                                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                        <h6 class="text-uppercase fw-bold mb-4">
                                            <i class="fas fa-gem me-3"></i>Pet Shop
                                        </h6>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, non.
                                        </p>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="text-uppercase fw-bold mb-4">
                                            Produtos
                                        </h6>
                                        <p>
                                            <a href="#!" class="text-reset">Rações</a>
                                        </p>
                                        <p>
                                            <a href="#!" class="text-reset">Brinquedos</a>
                                        </p>
                                        <p>
                                            <a href="#!" class="text-reset">Conforto</a>
                                        </p>
                                        <p>
                                            <a href="#!" class="text-reset">Utilidades</a>
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="text-uppercase fw-bold mb-4">
                                            Links uteis
                                        </h6>
                                        <p>
                                            <a href="#!" class="text-reset">Produtos</a>
                                        </p>
                                        <p>
                                            <a href="#!" class="text-reset">Perguntas frequentes</a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                        <h6 class="text-uppercase fw-bold mb-4">
                                            Contato
                                        </h6>
                                        <p><i class="fas fa-home me-3"></i> Erechim, Rua Getulio Vargas, N° 206</p>
                                        <p>
                                            <i class="fas fa-envelope me-3"></i>
                                            info@example.com
                                        </p>
                                        <p><i class="fas fa-phone me-3"></i> 54 93124-5432</p>
                                        <p><i class="fas fa-print me-3"></i> 54 93124-5432</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                            © 2022 Copyright:
                            <a class="text-reset fw-bold" href="...">PetShop.com</a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </main>
{% endblock %}