{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
  <main>
    <div>
      <!--inicio container-->
      {% for erro in erros %}
      <p>{% include 'partials/warning.html' %}</p>
      {% endfor %}
      <div class="container-fluid">
        <div class="container">
          <div class="row py-5">
            <div class="col-2"></div>
            <div class="col">
              <h1>Seus dados</h1>
            </div>
            <div class="col-3"></div>
          </div>    
          <div class="row pb-2">
              <div class="col-2"></div>
              <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                      <div class="justify-content-between">
                        <div>
                          <div class="ms-3">
                            <h5>Dados basicos</h4>
                                <div class="container"> 
                                    <h6 class="col-11 mb-2">Nome: {{ contexto.user.first_name }}</h6>            
                                    <h6 class="mb-2">Sobrenome: {{ contexto.user.last_name }}</h6>
                                    <h6 class="mb-2">CPF: {{ contexto.dados.cpf }}</h6>
                                    <h6 class="mb-2">Telefone: {{ contexto.dados.telefone }}</h6>
                                </div>
                          </div>
                        </div>
                      </div>
                      <div class="container">
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col">
                              <button type="button" class="btn btn-main mt-2" style="width: 175px" data-bs-toggle="modal" data-bs-target="#dadosModal">
                                Editar
                              </button>
                              <div class="modal fade" id="dadosModal" tabindex="-1" aria-labelledby="dadosModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <form action = "{% url 'editar_dados' %}" method="post">
                                    {% csrf_token %} 
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="dadosModalLabel">Editar dados</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                              <div class="col">
                                                <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" name="nome" value="{{ contexto.user.first_name }}">
                                              </div>
                                              <div class="col">
                                                <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Sobrenome" name="sobrenome" value="{{ contexto.user.last_name }}">
                                              </div>
                                            </div>
                                            <div class="row pt-4">
                                              <div class="col">
                                                <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail" name="email" value="{{ contexto.user.username }}">
                                              </div>
                                            </div>
                                            <div class="row pt-4">
                                              <div class="col">
                                                <input type="text" class="form-control" id="cpf" placeholder="CPF" aria-label="CPF" name="cpf" data-mask="000.000.000-00" value="{{ contexto.dados.cpf }}">
                                              </div>
                                            </div>
                                            <div class="row pt-4">
                                              <div class="col">
                                                <input type="text" class="form-control" id="telefone" placeholder="Telefone" aria-label="Telefone" name="telefone" data-mask="(00)00000-0000" value="{{ contexto.dados.telefone }}">
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
                                      <button type="submit" class="btn btn-main">Salvar</button>
                                    </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>  
                      </div>                          
                    </div>
                  </div>              
              </div>
            <div class="col-2"></div>
          </div>
          <div class="row pb-2">
            <div class="col-2"></div>
            <div class="col">
              <div class="card mb-3">
                  <div class="card-body">
                    <div class="justify-content-between">
                      <div>
                        <div class="ms-3">
                          <h5>Endereços</h4>
                              <div class="container"> 
                                {% for endereco in contexto.enderecos %}
                                <div class="row">
                                    <h6 class="col mb-2">{{ endereco.rua }}, {{ endereco.numero }} - {{ endereco.cep }}</h6>  
                                    <div class="col ms-4 d-flex justify-content-end"><a href="{% url 'excluir_endereco' endereco.id %}"><button class="trashButton"><i class="fas fa-trash-alt iconHover" style="color: #cecece;"></i></button></a></div>
                                </div>
                                {% endfor %}
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                          <div class="col-9"></div>
                          <div class="col">
                            <button type="button" class="btn btn-main mt-2" style="width: 175px" data-bs-toggle="modal" data-bs-target="#enderecoModal">
                                Adicionar
                            </button>
                            <div class="modal fade" id="enderecoModal" tabindex="-1" aria-labelledby="enderecoModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <form action = "{% url 'adicionar_endereco' %}" method="post">
                                      {% csrf_token %} 
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="enderecoModalLabel">Adicionar endereço</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                              <div class="col">
                                                <input type="text" class="form-control" id="CEP" placeholder="CEP" aria-label="CEP" name="cep" data-mask="00000-000">
                                              </div>
                                            </div>
                                            <div class="row pt-4">
                                              <div class="col">
                                                <input type="text" class="form-control" placeholder="Cidade" aria-label="Cidade" name="cidade">
                                              </div>
                                            </div>
                                            <div class="row pt-4">
                                              <div class="col">
                                                <input type="text" class="form-control" placeholder="Rua" aria-label="Rua" name="rua">
                                              </div>
                                            </div>
                                            <div class="row pt-4">
                                              <div class="col-8">
                                                <input type="text" class="form-control" placeholder="Complemento" aria-label="Complemento" name="complemento">
                                              </div>
                                              <div class="col-4">
                                                <input type="text" class="form-control" placeholder="Número" aria-label="Número" name="numero" data-mask="0000">
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
                                      <button type="submit" class="btn btn-main">Adicionar</button>
                                    </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                        </div>
                      </div>  
                    </div>                          
                  </div>
                </div>              
            </div>
          <div class="col-2"></div>
        </div>
        <!--quarta linha-->
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
