{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
    <main>
        <div>
            <!--inicio container-->
            <div class="container-fluid">
                <!--segunda linha-->
                <div class="row mt-5">
                    <div class="col ps-5">
                        <div>
                            <h1>Seus pets</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-4 px-5">
                        <!--cartas-->
                        {% for pet in pets %}
                        {% include 'partials/pets.html' %}
                        {% endfor %}
                    </div>
                </div>
                <!--quarta linha-->
                {% include 'partials/footer.html' %}
            </div>
        </div>
    </main>
{% endblock %}
