{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'partials/header.html' %}
  <main>
    <div>
      <!--inicio container-->
      <div class="container-fluid">
        <div class="container">
          <div class="row pt-5">
            <div class="col-2"></div>
            <div class="col">
              <h1>Serviços</h1>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row py-4">
            <div class="col-2"></div>
            <div class="col">
                <select class="form-select" aria-label="Default select example" name="pet">
                    {% for pet in contexto.pets %}
                    <option value="1"><a href="1">{{pet.nome}}</a></option>
                    {% endfor %}
                </select>
              <form>
            </div>
            <div class="col-6"></div>
          </div>
          {% include 'partials/servicos.html' %}
          <div class="row">
          <div class="col-2"></div>
          <div class="col">
              <hr class="mt-4">
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row pt-1">
          <div class="col-2"></div>
          <div class="col">
              <h3>Total</h3>
          </div>
          <div class="col-1 me-4">
              <h3>R$60,00</h3>
          </div>
          <div class="col-2"></div>
        </div> 
        <div class="row p-4">
            <div class="col-8"></div>
            <a type="button" class="btn col btn-main" href="confirmarServico.html">Confirmar serviços</a>
            <div class="col-2"></div>
          </div>      
        <!--quarta linha-->
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
